<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.5.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.0.6" targetFramework="net461" developmentDependency="true" />
  <package id="FodyCecil" version="2.0.6" targetFramework="net461" developmentDependency="true" />
  <package id="GitVersionTask" version="3.6.5" targetFramework="net461" developmentDependency="true" />
</packages>