<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.3.7" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="FodyCecil" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="GitVersionTask" version="3.3.0" targetFramework="net45" developmentDependency="true" />
</packages>