<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.13" targetFramework="net461" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net461" />
  <package id="FodyHelpers" version="3.0.0" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
</packages>