<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.6.5" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
</packages>