<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.10" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.10" targetFramework="net45" />
  <package id="FodyCecil" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.ApplicationDomain" version="5.0.1" targetFramework="net45" />
</packages>