<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <!-- `key` can be any identifier for your source. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local packages" value="C:\Source\_packages" />
  </packageSources>

  <!-- key value for <packageSource> should match key values from <packageSources> element -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Local packages">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
