name: Build and test

on:
  push:
    branches:
      - develop
      - master
  pull_request:
  
#permissions:
  #pull-requests: write
  #contents: write

jobs:
  build-and-test:
    runs-on: windows-latest # Required for some (WPF) projects
  
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        id: checkout
        with:
          fetch-depth: 0
          
      - name: Setup .NET Core
        id: setup-dotnet
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0
        with:
          dotnet-version: '8.0.x'    
    
      - name: Cake Action
        id: cake-action
        uses: cake-build/cake-action@1223b6fa067ad192159f43b50cd4f953679b0934 #v2.0.0
        with:
          target: BuildAndTest
          arguments: |
            IsCiBuild: true